@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Regular.eot");
  src: url("./ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./ProximaNova-Regular.woff") format("woff"), url("./ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
